.button-social {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  border: none;
  text-decoration: none;
}
.button-social h3 {
  overflow: hidden;
  white-space: nowrap;
}

.button-link {
  text-decoration: none;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-top: 20px;
}
.button-link h3 {
  padding: 7px 17px;
}

.button-nav {
  cursor: pointer;
  display: inline-flex;
  border: none;
  text-decoration: none;
  z-index: 4;
}

.button-modal-index {
  display: flex;
  flex-direction: row-reverse;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  background-color: transparent;
  opacity: 0;
  transform: translateX(-20%);
  transition: all 1s;
}
.button-modal-index p {
  text-decoration: none;
}
.button-modal-index .Icon {
  display: block;
  fill: transparent;
  opacity: 0;
  transition: all 1s;
}
.button-modal-index--show {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

.theme-blue .button-social {
  border-radius: 10px;
  background-color: var(--dark-blue);
}
.theme-blue .button-social .Icon {
  fill: var(--green);
}
.theme-blue .button-link h3 {
  border-radius: 10px;
  color: var(--green);
  background-color: var(--dark-blue);
  border: solid 3px var(--darker-blue);
  transition: all 0.5s linear;
}
.theme-blue .button-link:hover h3 {
  background-color: var(--green);
  border-color: var(--green);
  color: var(--darker-blue);
  transition: all 1s;
}
.theme-blue .button-nav {
  border-radius: 10px;
  background-color: var(--darker-blue);
  border: 3px solid var(--dark-blue);
  transition: all 0.25s linear;
}
.theme-blue .button-nav .Icon {
  fill: var(--green);
}
.theme-blue .button-nav:hover {
  background-color: var(--dark-blue);
  transition: all 0.25s linear;
}
.theme-blue .button-modal-header {
  background-color: var(--dark-blue);
  border: 3px solid var(--darker-blue);
  border-radius: 10px;
  transition: all 1s;
}
.theme-blue .button-modal-header h3 {
  color: var(--green);
  transition: color 1s;
}
.theme-blue .button-modal-header .Icon {
  margin: auto;
  fill: var(--green);
  transition: fill 1s;
}
.theme-blue .button-modal-header:hover {
  background-color: var(--green);
  border-color: var(--green);
  transition: all 1s;
}
.theme-blue .button-modal-header:hover h3 {
  color: var(--darker-blue);
  transition: color 1s;
}
.theme-blue .button-modal-header:hover .Icon {
  fill: var(--darker-blue);
  transition: fill 1s;
}
.theme-blue .button-modal-index {
  border-radius: 10px;
}
.theme-blue .button-modal-index p {
  color: var(--grey);
  transition: all 1s;
}
.theme-blue .button-modal-index:hover {
  background-color: var(--darker-blue);
  transition: all 1s;
}
.theme-blue .button-modal-index:hover p {
  color: var(--white);
  transition: all 1s;
}
.theme-blue .button-modal-index:hover .Icon {
  opacity: 1;
  fill: var(--white);
  transition: all 1s;
}

.theme-light .button-social {
  border-radius: 0px;
  background-color: var(--white);
  border: 2px solid var(--grey);
}
.theme-light .button-social .Icon {
  fill: var(--green);
  background-color: var(--white);
}
.theme-light .button-link h3 {
  border-radius: 10px;
  color: var(--green);
  background-color: var(--white);
  border: 2px var(--grey) solid;
  transition: all 0.5s linear;
}
.theme-light .button-link h3::-moz-selection {
  background-color: var(--grey);
}
.theme-light .button-link h3::selection {
  background-color: var(--grey);
}
.theme-light .button-link:hover h3 {
  border-color: var(--black);
  color: var(--black);
  transition: all 0.25s linear;
}
.theme-light .button-nav {
  border-radius: 0px;
  background-color: var(--white);
  border: 2px solid var(--grey);
  transition: all 0.25s linear;
}
.theme-light .button-nav h3 {
  color: var(--green);
  transition: all 0.25s linear;
}
.theme-light .button-nav .Icon {
  fill: var(--green);
  transition: all 0.25s linear;
}
.theme-light .button-nav:hover {
  border-radius: 25px;
  border-color: var(--black);
  transition: all 0.25s linear;
}
.theme-light .button-nav:hover h3 {
  color: var(--black);
  transition: all 0.25s linear;
}
.theme-light .button-nav:hover .Icon {
  fill: var(--black);
  transition: all 0.25s linear;
}
.theme-light .button-modal-header {
  background-color: var(--black);
  border: 2px solid var(--white);
  border-radius: 25px;
  transition: border-radius 1s;
}
.theme-light .button-modal-header h3 {
  color: var(--white);
}
.theme-light .button-modal-header .Icon {
  margin: auto;
  fill: var(--white);
}
.theme-light .button-modal-header:hover {
  border-radius: 0;
  transition: border-radius 1s;
}
.theme-light .button-modal-index {
  border: 2px solid transparent;
  border-radius: 25px;
}
.theme-light .button-modal-index p {
  color: var(--grey);
  transition: all 1s;
}
.theme-light .button-modal-index:hover {
  border-color: var(--grey);
  border-radius: 0px;
  transition: all 1s;
}
.theme-light .button-modal-index:hover .Icon {
  fill: var(--white);
  opacity: 1;
  transition: all 1s;
}

.theme-orange .button-social {
  border-radius: 0px;
  background-color: var(--green);
  border: 3px solid var(--black);
}
.theme-orange .button-social .Icon {
  fill: var(--black);
}
.theme-orange .button-link h3 {
  border-radius: 0px;
  color: var(--black);
  background-color: var(--green);
  border: 3px solid var(--black);
  transition: background-color 0.5s linear;
}
.theme-orange .button-link h3::-moz-selection {
  background-color: var(--orange);
}
.theme-orange .button-link h3::selection {
  background-color: var(--orange);
}
.theme-orange .button-link:hover h3 {
  background-color: var(--orange);
  transition: background-color 0.25s linear;
}
.theme-orange .button-nav {
  border-radius: 0px;
  background-color: var(--white);
  border: 3px solid var(--black);
  transition: all 0.25s linear;
}
.theme-orange .button-nav .Icon {
  fill: var(--black);
}
.theme-orange .button-nav:hover {
  background-color: var(--orange);
  transition: all 0.25s linear;
}
.theme-orange .button-modal-header {
  background-color: var(--orange);
  border: 3px solid var(--black);
  transition: background-color 1s;
}
.theme-orange .button-modal-header h3 {
  color: var(--black);
}
.theme-orange .button-modal-header .Icon {
  margin: auto;
  fill: var(--black);
}
.theme-orange .button-modal-header:hover {
  background-color: var(--white);
  transition: background-color 1s;
}
.theme-orange .button-modal-index {
  border: 3px solid transparent;
}
.theme-orange .button-modal-index p {
  color: var(--black);
  transition: all 1s;
}
.theme-orange .button-modal-index:hover {
  background-color: var(--orange);
  border-color: var(--black);
  transition: all 1s;
}
.theme-orange .button-modal-index:hover p {
  color: var(--black);
  transition: all 1s;
}
.theme-orange .button-modal-index:hover .Icon {
  fill: var(--black);
  opacity: 1;
  transition: all 1s;
}

@media (min-width: 0px) {
  .button-social {
    margin: 30px 20px 0 0;
    height: 70px;
    width: 70px;
  }
  .button-social h3 {
    margin: auto 18px auto 0;
  }
  .button-social .Icon {
    position: absolute;
    width: 25px;
    height: 25px;
    padding: 11.25px;
    padding-left: 22.5px;
    margin: 11.25px;
    margin-left: 0;
    border-radius: 10px;
    z-index: 2;
  }
  .button-nav .Icon {
    padding: 15px;
    width: 25px;
    height: 25px;
  }
  .button-nav h3 {
    padding: 15px 15px 15px 0;
  }
  .button-modal-header {
    display: flex;
    margin: 20px 0 40px 0;
    padding: 5px 15px;
  }
  .button-modal-header .Icon {
    display: none;
  }
  .button-modal-header:first-of-type {
    display: none;
  }
  .button-modal-index {
    margin-bottom: 2.5px;
    padding: 10px 15px;
  }
  .button-modal-index .Icon {
    margin: auto 0 auto 10px;
    width: 20px;
    height: 20px;
  }
  .theme-blue .button-social {
    background-color: var(--dark-blue);
    width: 70px;
    transition: all 1s;
  }
  .theme-blue .button-social h3 {
    color: var(--green);
    opacity: 0;
    transition: all 1s;
  }
  .theme-blue .button-social .Icon {
    fill: var(--green);
    background-color: var(--dark-blue);
    transition: all 1s;
  }
  .theme-blue .button-social:hover {
    background-color: var(--green);
    width: 170px;
    transition: all 1s;
  }
  .theme-blue .button-social:hover h3 {
    color: var(--darker-blue);
    display: inline-block;
    margin-left: 70px;
    opacity: 1;
    width: calc(100% - 70px);
    transition: all 1s;
  }
  .theme-blue .button-social:hover .Icon {
    fill: var(--darker-blue);
    background-color: var(--green);
    transition: all 1s;
  }
  .theme-light .button-social {
    border-color: var(--grey);
    border-radius: 0px;
    width: 70px;
    transition: all 1s;
  }
  .theme-light .button-social h3 {
    color: var(--green);
    opacity: 0;
    transition: all 1s;
  }
  .theme-light .button-social .Icon {
    fill: var(--green);
    transition: all 1s;
  }
  .theme-light .button-social:hover {
    border-radius: 25px;
    border-color: var(--black);
    width: 170px;
    transition: all 1s;
  }
  .theme-light .button-social:hover h3 {
    color: var(--black);
    display: inline-block;
    width: calc(100% - 70px);
    margin-left: 70px;
    opacity: 1;
    transition: all 1s;
  }
  .theme-light .button-social:hover .Icon {
    fill: var(--black);
    transition: all 1s;
  }
  .theme-orange .button-social {
    background-color: var(--green);
    width: 70px;
    transition: all 1s;
  }
  .theme-orange .button-social h3 {
    opacity: 0;
    transition: all 1s;
  }
  .theme-orange .button-social .Icon {
    background-color: var(--green);
    transition: all 1s;
  }
  .theme-orange .button-social:hover {
    background-color: var(--orange);
    width: 170px;
    transition: all 1s;
  }
  .theme-orange .button-social:hover h3 {
    display: inline-block;
    width: calc(100% - 70px);
    margin-left: 70px;
    opacity: 1;
    transition: all 1s;
  }
  .theme-orange .button-social:hover .Icon {
    background-color: var(--orange);
    transition: all 1s;
  }
}
@media (min-width: 725px) {
  .button-modal-header {
    display: flex;
    margin: 20px 0 0 0;
  }
  .button-modal-header .Icon {
    display: flex;
    padding: 15px;
    width: 25px;
    height: 25px;
  }
  .button-modal-header h3 {
    padding: 15px 15px 15px 0;
  }
  .button-modal-header:first-of-type {
    display: flex;
    margin: 0;
  }
  .button-modal-index .Icon {
    margin: auto 0 auto 10px;
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 1020px) {
  .button-social {
    margin: 40px 20px 0 0;
  }
  .button-social h3 {
    margin: auto 16px auto 0;
  }
  .button-social .Icon {
    width: 30px;
    height: 30px;
    padding: 10px;
    padding-left: 20px;
    margin: 10px;
    margin-left: 0;
  }
  .button-nav h3 {
    padding: 15px 15px 15px 0;
  }
  .button-nav .Icon {
    padding: 15px;
    width: 30px;
    height: 30px;
    margin: auto;
  }
  .theme-light .button-nav .Icon,
.theme-blue .button-nav .Icon {
    fill: var(--green);
  }
  .theme-blue .button-social, .theme-light .button-social, .theme-orange .button-social {
    width: 70px;
    transition: all 1s;
  }
  .theme-blue .button-social:hover, .theme-light .button-social:hover, .theme-orange .button-social:hover {
    width: 220px;
    transition: all 1s;
  }
}/*# sourceMappingURL=Buttons.css.map */