$white: #fff;//ddd
$grey: #eee;//ccc
$darker-blue: #151e2a;//191C21 //081222 //121B29 //151e2a
$dark-blue: #1A2733;//222931
$green: #00ACA2;//44cab2
  
.body-theme-blue{background-color: $darker-blue;}

.theme-blue{
  .title-div{
    background-color: $green;   
    border-radius: 0.75vmin;//7.5px 
  }
  .info-div{
    width: max-content;
    border-radius: 25px;
    background-color: $dark-blue;
    transition: all 1s;
  }

  //text
  p{
    color: $grey;
    font-family: "Roboto", sans-serif;
    line-height: 175%;
    font-weight: 400;
    letter-spacing: 0.025em;

    &::selection{background-color: $green;}
  }
  h1{
    z-index: 1;
    color: $white;   
    font-family: "Poppins", sans-serif;
    font-weight: bold;

    &::selection{background-color: $green;}
  }
  h2{
    color: $grey;
    font-family: "Roboto";
    font-weight: 500;

    &::selection{background-color: $green;}
  }
  h3{
    color: $green;
    font-family: "Poppins", sans-serif;
    font-weight: 700;

    &::selection{background-color: $green;}
  }
  h4{
    color: $grey;
    font-family: "Poppins";
    font-weight: 500;

    &::selection{background-color: $green;}
  }

  //cursor
  .cursor::after {border: 8px solid $grey}
  .expand {border: 1px solid $green}

  //icon
  .water-mark{fill: #1A2733c9;}

  //nav
  nav{
    button{
      border-radius: 10px;
      background-color: $darker-blue;
      border: 3px solid $dark-blue;
      
      .Icon{fill: $green;}
    }
    .nav-button-anim{
      &-enter-active{
        background-color: $dark-blue;
        transition: all 0.25s linear;        
      }
      &-enter-done{background-color: $dark-blue;}
      &-exit{background-color: $dark-blue;}
      &-exit-active{
        background-color: $darker-blue;
        transition: all 0.5s linear;
      }
    }
  }
  .side-menu-div{
    background-color: #151e2a99;

    .side-menu{
      background-color: $dark-blue;
     
      .header-div button{
        background-color: $dark-blue;
        border: 3px solid $darker-blue;
        border-radius: 10px;
        transition: all 1s;
        
        h3{
          color: $green;
          transition: color 1s;
        }
        .Icon{
          margin: auto;
          fill: $green;
          transition: fill 1s;
        }
        &:hover{
          background-color: $green;
          border-color: $green;
          transition: all 1s;

          h3{
            color: $darker-blue;
            transition: color 1s;
          }
          .Icon{
            fill: $darker-blue;
            transition: fill 1s;
          }
        }
      }
      .index-button{
        &:hover p{
          color: $white;
          font-weight: 500;
        }
        p{color: $grey;}
        .Icon{fill: $white;}
      }
      .line{
        stroke: $green;
        stroke-width: 5px;
      }
    }
    &-enter{
      background-color: transparent;

      .side-menu{transform: translate(-100%, 0);}
    }
    &-enter-active{
      background-color: #151e2a99;
      transition: background-color .3s cubic-bezier(0.19, 1, 0.22, 1);
      
      .side-menu{
        transform: translate(0, 0);
        transition: transform .3s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
    &-enter-done{
      background-color: #151e2a99;

      .side-menu{transform: translate(0, 0);}
    }
    &-exit{
      background-color: #151e2a99;
      
      .side-menu{transform: translate(0, 0);}
    }
    &-exit-active{
      opacity: 0;
      background-color: transparent;
      transition: background-color, opacity .3s ease-out;

      .side-menu{
        transform: translate(-100%, 0);
        transition: transform .3s ease-out;
      }
    }
    &-exit-done{
      display: none;
      opacity: 0;
      background-color: transparent;

      .side-menu{transform: translate(-100%, 0);}
    }
  }

  //pg1
  #intro{
    .photo{
      background-color: $dark-blue;
      border: 3px solid transparent;
      border-radius: 15vmin;//10em//170px
    }
    .header-div{
      h1{
        color: $white;
        font-family: "Roboto Slab";
        font-weight: 900;
        letter-spacing: 0.115em;

        &::selection{background-color: $green;}
      }
      h2{
        color: $grey;          
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        letter-spacing: 0.025em;

        &::selection{background-color: $green;}
      }
    }
    .socials-div{
      a{
        border-radius: 10px;
        background-color: $dark-blue;
        
        .Icon{fill: $green;}
      }
    }
  }
  //pg3
  .course-div{
    h1{
      color: $white;
      font-family: "Roboto";
      font-weight: 700;
  
      &::selection{background-color: $green;}
    }
  }
  //pg6
  #projects article{
    border-radius: 25px;
    
    .a-div{
      background-color: $darker-blue;

      a h3{
        border-radius: 10px;
        color: $green;
        background-color: $dark-blue;
        border: 3px $dark-blue solid;
      }
      .button-anim{
        &-enter-active h3{
          background-color: $green;
          border-color: $green;
          color: $darker-blue;
          transition: all 1s;        
        }
        &-enter-done h3{
          background-color: $green;
          border-color: $green;
          color: $darker-blue
        }
        &-exit h3{
          background-color: $green;
          border-color: $green;
          color: $darker-blue;
        }
        &-exit-active h3{
          background-color: $dark-blue;
          border-color: $dark-blue;
          color: $green;
          transition: all 0.5s linear;
        }
      }
    }
    .image{border: 3px solid transparent;}
  }
}

@media (min-width: 0px) {
  .theme-blue{
    //text
    p{font-size: 22px;}
    h1{font-size: 40px;}
    h2{font-size: 20px;}
    h3{font-size: 18px;}
    h4{font-size: 16px;}
    
    .info-div:hover{
      background-color: $green;
      border-bottom-left-radius: 0px;
      border-top-left-radius: 0px;
      transition: all 1s;
      
      h2, h3 {
        color: $darker-blue;
        transition: all 1s;
      }
    }   
    
    //pg1
    #intro{
      .header-div{
        h1{font-size: 18vw;}
        h2{font-size: 23px;}
      }
      .socials-div{
        
        a h3{display: none;}
        .button{
          &-anim-enter-active{
            background-color: $green;
            width: calc(80px + 90px);
            transition: all 1s;
            
            h3{
              color: $darker-blue;
              display: inline-block;
              margin-left: 70px;
              opacity: 1;   
              width: calc(100% - 70px);
              transition: all 1s;
            }
            .Icon{
              fill: $darker-blue;
              transition: fill 1s;
            }
          }
          &-anim-enter-done{
            background-color: $green;
            width: calc(80px + 90px);

            h3{
              color: $dark-blue;
              display: inline-block;
              margin-left: 70px;
              opacity: 1;
              width: calc(100% - 70px);
            }
            svg{position: absolute;}
            .Icon{fill: $darker-blue}
          }
          &-anim-exit{
            width: calc(80px + 90px);
            background-color: $green;
            
            h3{
              color: $green;
              display: inline-block;
              width: calc(100% - 60px);
              margin-left: 70px;
              opacity: 1;
            }
            svg{position: absolute;}
            .Icon{fill: $darker-blue}
          }
          &-anim-exit-active{
            background-color: $dark-blue;
            width: 70px;
            transition: all 1s;
            
            h3{
              color: $green;
              opacity: 0;
              transition: all 1s;
            }
            .Icon{
              fill: $green;
              transition: fill 1s;
            }
          }
        }
      } 
    }

    //pg3
    .course-div .course h1{font-size: 30px;}

    //pg6
    article{
      .image{border-radius: 25px;}
      h2{font-size: 30px;}
    }
    .image-anim{
      &-enter{
        background-color: rgba($dark-blue,0.7);
        background-size: 180%;    
      }
      &-enter-active{
        background-color: rgba($dark-blue,0.7);
        background-size: 200%;
        transition: all 0.25s linear;        
      }
      &-enter-done{
        background-color: rgba($dark-blue,0.7);
        background-size: 200%;
      }
      &-exit{
        background-color: rgba($dark-blue,0.7);
        background-size: 200%;
      }
      &-exit-active{
        background-color: rgba($dark-blue,0.5);
        background-size: 180%;
        transition: all 0.5s linear;
      }
      &-exit-done{
        background-color: rgba($dark-blue,0.5);
        background-size: 180%;
      }
    }
    .a-div{
      border-radius: 25px;
      border-top-left-radius: 0; 
    }
  }
}
@media (min-width: 380px) {
  .theme-blue #intro .header-div h1{font-size: 70px;}
}
@media (min-width: 725px) {
  .theme-blue{
    .info-div:hover{
      background-color: $green;
      border-radius: 25px;
      transition: all 1s;

      h2,h3 {
        color: $darker-blue;
        transition: all 1s;
      }
    }
    .a-div{border-radius: 25px;} 
    
    .side-menu-div{
      &-enter{
        opacity: 0;
      }
      &-enter-active{
        opacity: 1;
        transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
        
        .side-menu{transition: none;}
      }
      &-enter-done{opacity: 1;}
      &-exit{opacity: 1;}
      &-exit-active{
        opacity: 0;
        background-color: $dark-blue;
        transition: opacity 1s;
        
        .side-menu{transition: none;}
      }
      &-exit-done{
        opacity: 0;
        display: none;
      }
    }

    //pg6
    article .image-anim{
      &-enter{
        background-color: rgba($dark-blue,0.7);
        background-size: 100%;  
      }
      &-enter-active{
        background-color: rgba($dark-blue,0.7);
        background-size: 120%;
        transition: all 0.25s linear;        
      }
      &-enter-done{
        background-color: rgba($dark-blue,0.7);
        background-size: 120%;
      }
      &-exit{
        background-color: rgba($dark-blue,0.7);
        background-size: 120%;
      }
      &-exit-active{
        background-color: rgba($dark-blue,0.5);
        background-size: 100%;
        transition: all 0.5s linear;
      }
      &-exit-done{
        background-color: rgba($dark-blue,0.5);
        background-size: 100%;
      }
    }
  } 
}
@media (min-width: 1020px) {
  .theme-blue{
    //text
    p{font-size: 28px;}
    h1{font-size: 60px;}
    h2{font-size: 28px;}
    h3{font-size: 25px;}
    h4{font-size: 20px;}
  
    //nav
    nav button .Icon{ fill: $green;}
  
    //pg1
    #intro{
      .header-div{
        h1{font-size: 100px;}
        h2{font-size: 40px;}
      }
      .socials-div .button{
        &-anim-enter-active{
          width: calc(80px + 120px);
          transition: all 1s;
        }
        &-anim-enter-done{width: calc(80px + 120px);}
        &-anim-exit{width: calc(80px + 120px);}
        &-anim-exit-active{
          width: 70px;
          transition: all 1s;
        }
      }
    }
  
    //pg3
    .course-div .course h1{font-size: 40px;}
  
    //pg6
    #projects article h2{font-size: 40px;}
  }
}