$white: #fff;//ddd
$grey: #eee;//ccc
$black: black;
$darker-blue: #151e2a;//191C21 //081222 //121B29 //151e2a
$dark-blue: #1A2733;//222931
$green: #00ACA2;//44cab2
$green-inverted: #FF525C;
$grey-inverted: #101010;

.body-theme-light{background-color: $white;}  

.theme-light{
  .title-div{display: none;}
  .info-div{
    width: max-content;
    background-color: $white;
    border: 2px solid $grey;
    border-radius: 0;
    transition: all 1s;

    h3{
      color: $green;
      transition: all 1s;
    } 
  }
  //text
  p{
    color: $black;
    font-family: "Poppins", sans-serif;
    line-height: 175%;
    font-weight: 300;
    letter-spacing: 0.025em;

    &::selection{background-color: $grey;}
  }
  h1{
    z-index: 1;
    color: $black;   
    font-family: "Boska", sans-serif;
    font-weight: bold;

    &::selection{background-color: $grey;}
  }
  h2{
    color: $black;
    font-family: "Poppins";
    font-weight: 400;

    &::selection{background-color: $grey;}
  }
  h3{
    color: $green;
    font-family: "Poppins", sans-serif;
    font-weight: 700;

    &::selection{background-color: $grey;}
  }
  h4{
    color: $black;
    font-family: "Poppins";
    font-weight: 300;

    &::selection{background-color: $grey;}
  }
  //icon
  .water-mark{
    stroke: rgba($black, 0.2);
    stroke-width: 0.05px;
    fill: none;
  }
  //nav
  nav{
    button{
      border-radius: 0px;
      background-color: $white;
      border: 2px solid $grey;
      
      .Icon{fill: $green;}
    }
    .nav-button-anim{
      &-enter-active{
        border-radius: 25px;
        border-color: $black;

        h3{
          color: $black;
          transition: all 0.25s linear; 
        }
        .Icon{
          fill: $black;
          transition: all 0.25s linear; 
        }

        transition: all 0.25s linear;        
      }
      &-enter-done{
        border-radius: 25px;
        border-color: $black;

        h3{color: $black;}
        .Icon{fill: $black;} 
      }
      &-exit{
        border-radius: 25px;
        border-color: $black;
        
        h3{color: $black;}
        .Icon{fill: $black;}
      }
      &-exit-active{
        border-radius: 0px;
        border-color: $grey;
        
        h3{
          color: $green;
          transition: all 0.25s linear; 
        }
        .Icon{
          fill: $green;
          transition: all 0.25s linear; 
        }

        transition: all 0.5s linear;
      }
    }
  }
  .side-menu-div{
    background-color: rgba($black, 0.6);

    .side-menu{
      background-color: $black;
      
      h1{color: $white;}
      .index-button{
        &:hover p{
          color: $green;
          font-weight: 700;

          transition: all 1s;
        }
        p{
          color: $grey;
          transition: all 1s;
        }
        .Icon{fill: $green;}
      }
      .line{
        stroke: $white;
        stroke-width: 1px;
      }
    }
    &-enter{
      background-color: transparent;

      .side-menu{transform: translate(-100%, 0);}
    }
    &-enter-active{
      background-color: rgba($black, 0.6);
      transition: background-color .3s cubic-bezier(0.19, 1, 0.22, 1);
      
      .side-menu{
        transform: translate(0, 0);
        transition: transform .3s cubic-bezier(0.19, 1, 0.22, 1);
      }
    }
    &-enter-done{
      background-color: rgba($black, 0.6); 

      .side-menu{transform: translate(0, 0);}
    }
    &-exit{
      background-color: rgba($black, 0.6);
      
      .side-menu{transform: translate(0, 0);}
    }
    &-exit-active{
      opacity: 0;
      background-color: transparent;
      transition: background-color, opacity .3s ease-out;

      .side-menu{
        transform: translate(-100%, 0);
        transition: transform .3s ease-out;
      }
    }
    &-exit-done{
      display: none;
      opacity: 0;
      background-color: transparent;

      .side-menu{transform: translate(-100%, 0);}
    }
  }

  //pg1
  #intro{
    .photo{
      background-color: $grey;
      border: 3px solid transparent;
      border-radius: 15vmin;//10em//170px
    }
    .photo-thin{
      background-color: $white;
      border: 2px solid $black;
      border-radius: 15vmin;//10em//170px
    }
    .header-div{
      h1{
        color: $black;
        font-family: "Boska";
        font-weight: 700;
        letter-spacing: 0.115em;

        &::selection{background-color: $grey;}
      }
      h2{
        color: $green;          
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        letter-spacing: 0.025em;

        &::selection{background-color: $grey;}
      }
    }
    .socials-div{
      a{
        border-radius: 0px;
        background-color: $white;
        border: 2px solid $grey;
        
        .Icon{fill: $green;}
      }
    }
  }
  //pg3
  .course-div{
    h1{
      color: $black;
      font-family: "Roboto";
      font-weight: 700;
  
      &::selection{background-color: $grey;}
    }
  }
  //pg6
  #projects article{
    border-radius: 0px;
    
    h3{
      color: $green-inverted;

      &::selection{background-color: $grey-inverted;}
    }
    h2{
      font-family: "Poppins";
      font-weight: 700;
      
      &::selection{
        background-color: $white;
      }
    }
    p::selection{
      background-color: $white;
    }
    .a-div{
      background-color: $white;

      a h3{
        border-radius: 10px;
        color: $green;
        background-color: $white;
        border: 2px $grey solid;

        &::selection{
          background-color: $grey;
        }
      }
      .button-anim{
        &-enter-active h3{
          border-color: $black;
          color: $black;
          transition: all 0.25s linear;        
        }
        &-enter-done h3{
          border-color: $black;
          color: $black;
        }
        &-exit h3{
          border-color: $grey;
          color: $green;
        }
        &-exit-active h3{
          border-color: $grey;
          color: $green;
          transition: all 0.5s linear;
        }
      }
    }
    .image{border: 3px solid transparent;}
  }
}

@media (min-width: 0px) {
  .theme-light{
    //text
    p{font-size: 22px;}
    h1{font-size: 50px;}
    h2{font-size: 20px;}
    h3{font-size: 18px;}
    h4{font-size: 16px;}
    
    .info-div:hover{
      border-radius: 50px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-color: $black;
      transition: all 1s;
    }

    //pg1
    #intro{
      .header-div{
        h1{font-size: 22vw;}
        h2{font-size: 23px;}
      }
      .socials-div{
        a h3{display: none;}
        .button{
          &-anim-enter-active{
            border-radius: 25px;
            border-color: $black;
            width: calc(80px + 90px);
            transition: all 1s;
            
            h3{
              color: $black;
              display: inline-block;
              width: calc(100% - 70px);
              margin-left: 70px;
              opacity: 1;
              transition: all 1s;
            }
            .Icon{
              fill: $black;
              transition: all 1s;
            }
          }
          &-anim-enter-done{
            border-radius: 25px;
            border-color: $black;
            width: calc(80px + 90px);
            
            h3{
              color: $black;
              display: inline-block;
              width: calc(100% - 70px);
              margin-left: 70px;
              opacity: 1;
            }
            svg{position: absolute;}
            .Icon{fill: $black;}
          }
          &-anim-exit{
            border-color: $black;
            border-radius: 25px;
            width: calc(80px + 90px);
            
            h3{
              color: $black;
              display: inline-block;
              width: calc(100% - 60px);
              margin-left: 70px;
              opacity: 1;
            }
            svg{position: absolute;}
            .Icon{fill: $black}
          }
          &-anim-exit-active{
            border-color: $grey;
            border-radius: 0px;
            width: 70px;
            transition: all 1s;
            
            h3{
              color: $green;
              opacity: 0;
              transition: all 1s;
            }
            .Icon{
              fill: $green;
              transition: all 1s;
            }
          }
        }
      }
    }

    //pg3
    .course-div .course h1{font-size: 30px;}

    //pg6
    article{
      h2{font-size: 30px;}
      .image{
        border-radius: 0px;
        filter: invert(100%);
      }
    }
    .image-anim{
      &-enter{
        background-color: rgba($white,0.7);
        background-size: 180%;    
      }
      &-enter-active{
        background-color: rgba($white,0.7);
        background-size: 200%;
        transition: all 0.25s linear;        
      }
      &-enter-done{
        background-color: rgba($white,0.7);
        background-size: 200%;
      }
      &-exit{
        background-color: rgba($white,0.7);
        background-size: 200%;
      }
      &-exit-active{
        background-color: rgba($white,0.5);
        background-size: 180%;
        transition: all 0.5s linear;
      }
      &-exit-done{
        background-color: rgba($white,0.5);
        background-size: 180%;
      }
    }
    .a-div{
      border-radius: 25px;
      border-top-left-radius: 0; 
    }
  }
}
@media (min-width: 380px) {
  .theme-light #intro .header-div h1{font-size: 78px;}
}
@media (min-width: 725px) {
  //pg6
  .theme-light {
    .info-div:hover{
      border-radius: 50px;
      border-color: $black;
      transition: all 1s;

      h3{
        color: $black;
        transition: all 1s;
      }
    }

    .side-menu-div{
      &-enter{
        opacity: 0;
      }
      &-enter-active{
        opacity: 1;
        transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
        
        .side-menu{transition: none;}
      }
      &-enter-done{opacity: 1;}
      &-exit{opacity: 1;}
      &-exit-active{
        opacity: 0;
        background-color: $black;
        transition: opacity 1s;
  
        .side-menu{transition: none;}
      }
      &-exit-done{
        opacity: 0;
        display: none;
      }

      .header-div button{
        background-color: $black;
        border: 2px solid $white;
        border-radius: 25px;
        display: flex;
        transition: border-radius 1s;
        
        .Icon{
          margin: auto;
          fill: $white;
        }
        h3{color: $white;}
        
        &:hover{
          border-radius: 0;
          transition: border-radius 1s;
        }
      }
    }
    article{
      .a-div{
        border-radius: 25px;
      }
      .image-anim{
        &-enter{
          background-color: rgba($white,0.7);
          background-size: 100%;  
        }
        &-enter-active{
          background-color: rgba($white,0.7);
          background-size: 120%;
          transition: all 0.25s linear;        
        }
        &-enter-done{
          background-color: rgba($white,0.7);
          background-size: 120%;
        }
        &-exit{
          background-color: rgba($white,0.7);
          background-size: 120%;
        }
        &-exit-active{
          background-color: rgba($white,0.5);
          background-size: 100%;
          transition: all 0.5s linear;
        }
        &-exit-done{
          background-color: rgba($white,0.5);
          background-size: 100%;
        }
      }
    }
  }
}
@media (min-width: 1020px) {
  .theme-light{
    //text
    p{font-size: 28px;}
    h1{font-size: 70px;}
    h2{font-size: 28px;}
    h3{font-size: 25px;}
    h4{font-size: 20px;}
  
    //nav
    nav button .Icon{fill: $green;}
  
    //pg1
    #intro{
      .photo{
        top: 64px;
        right: 0;
        height: 512px;
        width: 390px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .photo-thin{
        display: block;
        position: absolute;
        z-index: -1;
        top: 64px;
        left: - calc(512px - 192px);
        height: 512px;
        width: 512px;  
      }

      .header-div{
        h1{font-size: 120px;}
        h2{font-size: 30px;}
      }
      .socials-div .button{
        &-anim-enter-active{
          width: calc(80px + 120px);
          transition: all 1s;
        }
        &-anim-enter-done{width: calc(80px + 120px);}
        &-anim-exit{width: calc(80px + 120px);}
        &-anim-exit-active{
          width: 70px;
          transition: all 1s;
        }
      }
    }
  
    //pg3
    .course-div .course h1{font-size: 40px;}
  
    //pg6
    #projects article h2{font-size: 40px;}
  }
}