.body-theme-light {
  background-color: #fff;
}

.theme-light .title-div {
  display: none;
}
.theme-light .info-div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #fff;
  border: 2px solid #eee;
  border-radius: 0;
  transition: all 1s;
}
.theme-light .info-div h3 {
  color: #00ACA2;
  transition: all 1s;
}
.theme-light p {
  color: black;
  font-family: "Poppins", sans-serif;
  line-height: 175%;
  font-weight: 300;
  letter-spacing: 0.025em;
}
.theme-light p::-moz-selection {
  background-color: #eee;
}
.theme-light p::selection {
  background-color: #eee;
}
.theme-light h1 {
  z-index: 1;
  color: black;
  font-family: "Boska", sans-serif;
  font-weight: bold;
}
.theme-light h1::-moz-selection {
  background-color: #eee;
}
.theme-light h1::selection {
  background-color: #eee;
}
.theme-light h2 {
  color: black;
  font-family: "Poppins";
  font-weight: 400;
}
.theme-light h2::-moz-selection {
  background-color: #eee;
}
.theme-light h2::selection {
  background-color: #eee;
}
.theme-light h3 {
  color: #00ACA2;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.theme-light h3::-moz-selection {
  background-color: #eee;
}
.theme-light h3::selection {
  background-color: #eee;
}
.theme-light h4 {
  color: black;
  font-family: "Poppins";
  font-weight: 300;
}
.theme-light h4::-moz-selection {
  background-color: #eee;
}
.theme-light h4::selection {
  background-color: #eee;
}
.theme-light .cursor {
  border: 1px solid #eee;
}
.theme-light .cursor::after {
  border: 8px solid black;
}
.theme-light .expand {
  border: 1px solid #00ACA2;
}
.theme-light .water-mark {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 0.05px;
  fill: none;
}
.theme-light nav button {
  border-radius: 0px;
  background-color: #fff;
  border: 2px solid #eee;
}
.theme-light nav button .Icon {
  fill: #00ACA2;
}
.theme-light nav .nav-button-anim-enter-active {
  border-radius: 25px;
  border-color: black;
  transition: all 0.25s linear;
}
.theme-light nav .nav-button-anim-enter-active h3 {
  color: black;
  transition: all 0.25s linear;
}
.theme-light nav .nav-button-anim-enter-active .Icon {
  fill: black;
  transition: all 0.25s linear;
}
.theme-light nav .nav-button-anim-enter-done {
  border-radius: 25px;
  border-color: black;
}
.theme-light nav .nav-button-anim-enter-done h3 {
  color: black;
}
.theme-light nav .nav-button-anim-enter-done .Icon {
  fill: black;
}
.theme-light nav .nav-button-anim-exit {
  border-radius: 25px;
  border-color: black;
}
.theme-light nav .nav-button-anim-exit h3 {
  color: black;
}
.theme-light nav .nav-button-anim-exit .Icon {
  fill: black;
}
.theme-light nav .nav-button-anim-exit-active {
  border-radius: 0px;
  border-color: #eee;
  transition: all 0.5s linear;
}
.theme-light nav .nav-button-anim-exit-active h3 {
  color: #00ACA2;
  transition: all 0.25s linear;
}
.theme-light nav .nav-button-anim-exit-active .Icon {
  fill: #00ACA2;
  transition: all 0.25s linear;
}
.theme-light .side-menu-div {
  background-color: rgba(0, 0, 0, 0.6);
}
.theme-light .side-menu-div .side-menu {
  background-color: black;
}
.theme-light .side-menu-div .side-menu h1 {
  color: #fff;
}
.theme-light .side-menu-div .side-menu .header-div button {
  background-color: black;
  border: 2px solid #fff;
  border-radius: 25px;
  transition: border-radius 1s;
}
.theme-light .side-menu-div .side-menu .header-div button .Icon {
  margin: auto;
  fill: #fff;
}
.theme-light .side-menu-div .side-menu .header-div button h3 {
  color: #fff;
}
.theme-light .side-menu-div .side-menu .header-div button:hover {
  border-radius: 0;
  transition: border-radius 1s;
}
.theme-light .side-menu-div .side-menu .index-button:hover p {
  color: #00ACA2;
  font-weight: 700;
  transition: all 1s;
}
.theme-light .side-menu-div .side-menu .index-button p {
  color: #eee;
  transition: all 1s;
}
.theme-light .side-menu-div .side-menu .index-button .Icon {
  fill: #00ACA2;
}
.theme-light .side-menu-div .side-menu .line {
  stroke: #fff;
  stroke-width: 1px;
}
.theme-light .side-menu-div-enter {
  background-color: transparent;
}
.theme-light .side-menu-div-enter .side-menu {
  transform: translate(-100%, 0);
}
.theme-light .side-menu-div-enter-active {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.theme-light .side-menu-div-enter-active .side-menu {
  transform: translate(0, 0);
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.theme-light .side-menu-div-enter-done {
  background-color: rgba(0, 0, 0, 0.6);
}
.theme-light .side-menu-div-enter-done .side-menu {
  transform: translate(0, 0);
}
.theme-light .side-menu-div-exit {
  background-color: rgba(0, 0, 0, 0.6);
}
.theme-light .side-menu-div-exit .side-menu {
  transform: translate(0, 0);
}
.theme-light .side-menu-div-exit-active {
  opacity: 0;
  background-color: transparent;
  transition: background-color, opacity 0.3s ease-out;
}
.theme-light .side-menu-div-exit-active .side-menu {
  transform: translate(-100%, 0);
  transition: transform 0.3s ease-out;
}
.theme-light .side-menu-div-exit-done {
  display: none;
  opacity: 0;
  background-color: transparent;
}
.theme-light .side-menu-div-exit-done .side-menu {
  transform: translate(-100%, 0);
}
.theme-light #intro .photo {
  background-color: #eee;
  border: 3px solid transparent;
  border-radius: 15vmin;
}
.theme-light #intro .photo-thin {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 15vmin;
}
.theme-light #intro .header-div h1 {
  color: black;
  font-family: "Boska";
  font-weight: 700;
  letter-spacing: 0.115em;
}
.theme-light #intro .header-div h1::-moz-selection {
  background-color: #eee;
}
.theme-light #intro .header-div h1::selection {
  background-color: #eee;
}
.theme-light #intro .header-div h2 {
  color: #00ACA2;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0.025em;
}
.theme-light #intro .header-div h2::-moz-selection {
  background-color: #eee;
}
.theme-light #intro .header-div h2::selection {
  background-color: #eee;
}
.theme-light #intro .socials-div a {
  border-radius: 0px;
  background-color: #fff;
  border: 2px solid #eee;
}
.theme-light #intro .socials-div a .Icon {
  fill: #00ACA2;
}
.theme-light .course-div h1 {
  color: black;
  font-family: "Roboto";
  font-weight: 700;
}
.theme-light .course-div h1::-moz-selection {
  background-color: #eee;
}
.theme-light .course-div h1::selection {
  background-color: #eee;
}
.theme-light #projects article {
  border-radius: 0px;
}
.theme-light #projects article h3 {
  color: #FF525C;
}
.theme-light #projects article h3::-moz-selection {
  background-color: #101010;
}
.theme-light #projects article h3::selection {
  background-color: #101010;
}
.theme-light #projects article h2 {
  font-family: "Poppins";
  font-weight: 700;
}
.theme-light #projects article h2::-moz-selection {
  background-color: #fff;
}
.theme-light #projects article h2::selection {
  background-color: #fff;
}
.theme-light #projects article p::-moz-selection {
  background-color: #fff;
}
.theme-light #projects article p::selection {
  background-color: #fff;
}
.theme-light #projects article .a-div {
  background-color: #fff;
}
.theme-light #projects article .a-div a h3 {
  border-radius: 10px;
  color: #00ACA2;
  background-color: #fff;
  border: 2px #eee solid;
}
.theme-light #projects article .a-div a h3::-moz-selection {
  background-color: #eee;
}
.theme-light #projects article .a-div a h3::selection {
  background-color: #eee;
}
.theme-light #projects article .a-div .button-anim-enter-active h3 {
  border-color: black;
  color: black;
  transition: all 0.25s linear;
}
.theme-light #projects article .a-div .button-anim-enter-done h3 {
  border-color: black;
  color: black;
}
.theme-light #projects article .a-div .button-anim-exit h3 {
  border-color: #eee;
  color: #00ACA2;
}
.theme-light #projects article .a-div .button-anim-exit-active h3 {
  border-color: #eee;
  color: #00ACA2;
  transition: all 0.5s linear;
}
.theme-light #projects article .image {
  border: 3px solid transparent;
}

@media (min-width: 0px) {
  .theme-light p {
    font-size: 22px;
  }
  .theme-light h1 {
    font-size: 50px;
  }
  .theme-light h2 {
    font-size: 20px;
  }
  .theme-light h3 {
    font-size: 18px;
  }
  .theme-light h4 {
    font-size: 16px;
  }
  .theme-light .info-div:hover {
    border-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-color: black;
    transition: all 1s;
  }
  .theme-light #intro .header-div h1 {
    font-size: 22vw;
  }
  .theme-light #intro .header-div h2 {
    font-size: 23px;
  }
  .theme-light #intro .socials-div a h3 {
    display: none;
  }
  .theme-light #intro .socials-div .button-anim-enter-active {
    border-radius: 25px;
    border-color: black;
    width: 170px;
    transition: all 1s;
  }
  .theme-light #intro .socials-div .button-anim-enter-active h3 {
    color: black;
    display: inline-block;
    width: calc(100% - 70px);
    margin-left: 70px;
    opacity: 1;
    transition: all 1s;
  }
  .theme-light #intro .socials-div .button-anim-enter-active .Icon {
    fill: black;
    transition: all 1s;
  }
  .theme-light #intro .socials-div .button-anim-enter-done {
    border-radius: 25px;
    border-color: black;
    width: 170px;
  }
  .theme-light #intro .socials-div .button-anim-enter-done h3 {
    color: black;
    display: inline-block;
    width: calc(100% - 70px);
    margin-left: 70px;
    opacity: 1;
  }
  .theme-light #intro .socials-div .button-anim-enter-done svg {
    position: absolute;
  }
  .theme-light #intro .socials-div .button-anim-enter-done .Icon {
    fill: black;
  }
  .theme-light #intro .socials-div .button-anim-exit {
    border-color: black;
    border-radius: 25px;
    width: 170px;
  }
  .theme-light #intro .socials-div .button-anim-exit h3 {
    color: black;
    display: inline-block;
    width: calc(100% - 60px);
    margin-left: 70px;
    opacity: 1;
  }
  .theme-light #intro .socials-div .button-anim-exit svg {
    position: absolute;
  }
  .theme-light #intro .socials-div .button-anim-exit .Icon {
    fill: black;
  }
  .theme-light #intro .socials-div .button-anim-exit-active {
    border-color: #eee;
    border-radius: 0px;
    width: 70px;
    transition: all 1s;
  }
  .theme-light #intro .socials-div .button-anim-exit-active h3 {
    color: #00ACA2;
    opacity: 0;
    transition: all 1s;
  }
  .theme-light #intro .socials-div .button-anim-exit-active .Icon {
    fill: #00ACA2;
    transition: all 1s;
  }
  .theme-light .course-div .course h1 {
    font-size: 30px;
  }
  .theme-light article h2 {
    font-size: 30px;
  }
  .theme-light article .image {
    border-radius: 0px;
    filter: invert(100%);
  }
  .theme-light .image-anim-enter {
    background-color: rgba(255, 255, 255, 0.7);
    background-size: 180%;
  }
  .theme-light .image-anim-enter-active {
    background-color: rgba(255, 255, 255, 0.7);
    background-size: 200%;
    transition: all 0.25s linear;
  }
  .theme-light .image-anim-enter-done {
    background-color: rgba(255, 255, 255, 0.7);
    background-size: 200%;
  }
  .theme-light .image-anim-exit {
    background-color: rgba(255, 255, 255, 0.7);
    background-size: 200%;
  }
  .theme-light .image-anim-exit-active {
    background-color: rgba(255, 255, 255, 0.5);
    background-size: 180%;
    transition: all 0.5s linear;
  }
  .theme-light .image-anim-exit-done {
    background-color: rgba(255, 255, 255, 0.5);
    background-size: 180%;
  }
  .theme-light .a-div {
    border-radius: 25px;
    border-top-left-radius: 0;
  }
}
@media (min-width: 380px) {
  .theme-light #intro .header-div h1 {
    font-size: 78px;
  }
}
@media (min-width: 725px) {
  .theme-light .info-div:hover {
    border-radius: 50px;
    border-color: black;
    transition: all 1s;
  }
  .theme-light .info-div:hover h3 {
    color: black;
    transition: all 1s;
  }
  .theme-light .side-menu-div-enter {
    opacity: 0;
  }
  .theme-light .side-menu-div-enter-active {
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .theme-light .side-menu-div-enter-active .side-menu {
    transition: none;
  }
  .theme-light .side-menu-div-enter-done {
    opacity: 1;
  }
  .theme-light .side-menu-div-exit {
    opacity: 1;
  }
  .theme-light .side-menu-div-exit-active {
    opacity: 0;
    background-color: black;
    transition: opacity 1s;
  }
  .theme-light .side-menu-div-exit-active .side-menu {
    transition: none;
  }
  .theme-light .side-menu-div-exit-done {
    opacity: 0;
    display: none;
  }
  .theme-light article .a-div {
    border-radius: 25px;
  }
  .theme-light article .image-anim-enter {
    background-color: rgba(255, 255, 255, 0.7);
    background-size: 100%;
  }
  .theme-light article .image-anim-enter-active {
    background-color: rgba(255, 255, 255, 0.7);
    background-size: 120%;
    transition: all 0.25s linear;
  }
  .theme-light article .image-anim-enter-done {
    background-color: rgba(255, 255, 255, 0.7);
    background-size: 120%;
  }
  .theme-light article .image-anim-exit {
    background-color: rgba(255, 255, 255, 0.7);
    background-size: 120%;
  }
  .theme-light article .image-anim-exit-active {
    background-color: rgba(255, 255, 255, 0.5);
    background-size: 100%;
    transition: all 0.5s linear;
  }
  .theme-light article .image-anim-exit-done {
    background-color: rgba(255, 255, 255, 0.5);
    background-size: 100%;
  }
}
@media (min-width: 1020px) {
  .theme-light p {
    font-size: 28px;
  }
  .theme-light h1 {
    font-size: 70px;
  }
  .theme-light h2 {
    font-size: 28px;
  }
  .theme-light h3 {
    font-size: 25px;
  }
  .theme-light h4 {
    font-size: 20px;
  }
  .theme-light nav button .Icon {
    fill: #00ACA2;
  }
  .theme-light #intro .photo {
    top: 64px;
    right: 0;
    height: 512px;
    width: 390px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .theme-light #intro .photo-thin {
    display: block;
    position: absolute;
    z-index: -1;
    top: 64px;
    left: -320px;
    height: 512px;
    width: 512px;
  }
  .theme-light #intro .header-div h1 {
    font-size: 120px;
  }
  .theme-light #intro .header-div h2 {
    font-size: 30px;
  }
  .theme-light #intro .socials-div .button-anim-enter-active {
    width: 200px;
    transition: all 1s;
  }
  .theme-light #intro .socials-div .button-anim-enter-done {
    width: 200px;
  }
  .theme-light #intro .socials-div .button-anim-exit {
    width: 200px;
  }
  .theme-light #intro .socials-div .button-anim-exit-active {
    width: 70px;
    transition: all 1s;
  }
  .theme-light .course-div .course h1 {
    font-size: 40px;
  }
  .theme-light #projects article h2 {
    font-size: 40px;
  }
}/*# sourceMappingURL=lightTheme.css.map */