.cursor {
  z-index: 3;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  -webkit-animation: cursorAnim 0.5s infinite alternate;
          animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
}
.cursor-expand {
  -webkit-animation: cursorAnim3 0.5s forwards;
          animation: cursorAnim3 0.5s forwards;
}
.cursor::after {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  top: -8px;
  left: -8px;
  -webkit-animation: cursorAnim2 0.5s infinite alternate;
          animation: cursorAnim2 0.5s infinite alternate;
}

.block-visual {
  position: absolute;
  z-index: -1;
}

.block-visual-alt {
  display: none;
}

.block-visual,
.block-visual-alt {
  opacity: 0;
  transform: translateY(-20%);
  transition: all 1s;
}
.block-visual--show,
.block-visual-alt--show {
  transform: translateY(0);
  opacity: 1;
  transition: all 1s;
}

.block-text {
  overflow: hidden;
}

.block-social {
  display: flex;
  flex-wrap: wrap;
}

.block-two-column {
  display: flex;
}

.block-grid {
  display: grid;
}

.block-project {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}
.block-project h4 {
  display: none;
}
.block-project .block-project-content {
  display: flex;
  flex-direction: column;
}
.block-project .block-image {
  position: absolute;
  top: 0;
  background-position: center;
  background-origin: border-box;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position-y: top;
}

.block-text-div {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s;
}

.block-social .button-social,
.block-info,
.block-two-column .block-column:first-child,
.block-two-column .block-column:last-child,
.block-project {
  opacity: 0;
  transform: translateX(-20%);
  transition: all 1s;
}

.block-text-div--show,
.block-social--show .button-social,
.block-info--show,
.block-two-column .block-column--show:first-child,
.block-two-column .block-column--show:last-child,
.block-project--show {
  opacity: 1;
  transform: translateX(0);
  transition: all 1s;
}

.block-text-div,
.block-text-div--show,
.block-project,
.block-project--show {
  transition-delay: 200ms;
}

.block-two-column .block-column:first-child,
.block-two-column .block-column--show:first-child {
  transition-delay: 600ms;
}

.block-two-column .block-column:last-child,
.block-two-column .block-column--show:last-child {
  transition-delay: 1000ms;
}

.theme-blue .cursor::after {
  border: 8px solid var(--grey);
}
.theme-blue .cursor-expand {
  border: 1px solid var(--green);
}
.theme-blue .block-visual {
  background-color: var(--dark-blue);
  border: 3px solid transparent;
  border-radius: 15vmin;
}
.theme-blue .block-text-div {
  background-color: var(--green);
  border-radius: 0.75vmin;
}
.theme-blue .block-info {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 25px;
  background-color: var(--dark-blue);
  transition: all 1s;
}
.theme-blue .block-info:hover .text-info-title,
.theme-blue .block-info:hover .text-info-subtitle {
  color: var(--darker-blue);
  transition: all 1s;
}
.theme-blue .block-project {
  background-color: var(--dark-blue);
  border: 3px solid transparent;
  border-radius: 25px;
}
.theme-blue .block-project .block-image {
  background-color: var(--opaque-dark-blue);
}

.theme-light .cursor {
  border: 1px solid var(--grey);
}
.theme-light .cursor-expand {
  border: 1px solid var(--green);
}
.theme-light .cursor::after {
  border: 8px solid var(--black);
}
.theme-light .block-visual {
  background-color: var(--grey);
  border: 3px solid transparent;
  border-radius: 15vmin;
}
.theme-light .block-visual-alt {
  background-color: var(--white);
  border: 2px solid var(--black);
  border-radius: 15vmin;
}
.theme-light .block-text-div {
  display: none;
}
.theme-light .block-info {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: var(--white);
  border: 2px solid var(--grey);
  border-radius: 0;
  transition: all 1s;
}
.theme-light .block-info:hover .text-info-title {
  color: var(--black);
  transition: all 1s;
}
.theme-light .block-project {
  background-color: var(--grey);
  border-radius: 0px;
  border: 3px solid transparent;
}
.theme-light .block-project .block-image {
  background-color: var(--opaque-grey);
}

.theme-orange .cursor {
  border: 1px solid var(--white);
}
.theme-orange .cursor::after {
  border: 8px solid var(--green);
}
.theme-orange .cursor-expand {
  border: 1px solid var(--orange);
}
.theme-orange .block-visual {
  background-color: var(--orange);
  border: 3px solid var(--black);
}
.theme-orange .block-visual-alt {
  background-color: var(--green);
  border: 3px solid var(--black);
}
.theme-orange .block-text-div {
  display: none;
}
.theme-orange .block-info {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: var(--green);
  border: 3px solid var(--black);
  border-radius: 0;
  transition: background-color 1s;
}
.theme-orange .block-project {
  background-color: var(--white);
  border: 3px solid var(--black);
  border-radius: 0px;
}
.theme-orange .block-project .block-image {
  background-color: var(--opaque-white);
}

@media (min-width: 0px) {
  .cursor {
    display: none;
  }
  .block-visual {
    top: -50vw;
    left: 0;
    height: 100vw;
    width: calc(100% - 6px);
  }
  .block-text-div {
    height: 15px;
    width: 48px;
  }
  .block-info {
    padding: 20px 40px;
    margin-bottom: 20px;
    margin-left: -40px;
  }
  .block-intro {
    padding-top: 200px;
    padding-top: 180px;
  }
  .block-two-column {
    flex-direction: column;
  }
  .block-two-column .block-column:first-child {
    margin-bottom: 50px;
  }
  .block-project {
    background-size: cover;
    margin-left: -20px;
    margin-right: -20px;
    padding: 260px 17px 60px 17px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .block-project .block-image {
    left: 0;
    width: 100%;
    height: 40%;
  }
  .theme-blue .block-info:hover {
    background-color: var(--green);
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    transition: all 1s;
  }
  .theme-blue .block-project .block-image {
    background-size: 120%;
    transition: all 0.25s linear;
  }
  .theme-blue .block-project:hover .block-image {
    background-size: 140%;
    transition: all 0.25s linear;
  }
  .theme-light .block-info:hover {
    border-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-color: var(--black);
    transition: all 1s;
  }
  .theme-light .block-project .block-image {
    background-size: 120%;
    transition: all 0.25s linear;
  }
  .theme-light .block-project:hover .block-image {
    background-size: 140%;
    transition: all 0.25s linear;
  }
  .theme-orange .block-info:hover {
    background-color: var(--orange);
    transition: background-color 1s;
  }
  .theme-orange .block-project .block-image {
    background-size: 120%;
    transition: all 0.25s linear;
  }
  .theme-orange .block-project:hover .block-image {
    background-size: 140%;
    transition: all 0.25s linear;
  }
}
@media (min-width: 725px) {
  .block-visual {
    top: -50vw;
    left: 15vw;
    height: 70vw;
    width: 70vw;
  }
  .block-two-column {
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
  }
  .block-two-column .block-column:first-child {
    margin-bottom: 0;
  }
  .block-two-column .block-column:last-child {
    margin-left: 64px;
  }
  .block-info {
    margin-left: auto;
    margin-right: 0;
  }
  .block-grid {
    grid-template-columns: 1fr 1fr;
  }
  .block-grid .block-info:nth-child(odd) {
    margin-left: -40px;
    margin-right: auto;
  }
  .block-grid .block-info:nth-child(even) {
    margin-left: auto;
    margin-right: -40px;
  }
  .block-project {
    margin-left: -40px;
    margin-right: -40px;
    padding: 120px 37px 60px 37px;
  }
  .block-project .block-project-content {
    width: calc(50% - 37px);
  }
  .block-project .block-image {
    background-size: auto;
    left: auto;
    right: 0;
    width: 50%;
    height: 100%;
  }
  .theme-blue .block-info:hover {
    background-color: var(--green);
    border-radius: 25px;
    transition: all 1s;
  }
  .theme-blue .block-project .block-image {
    background-size: 260%;
    transition: all 0.25s linear;
  }
  .theme-blue .block-project:hover .block-image {
    background-size: 280%;
    transition: all 0.25s linear;
  }
  .theme-light .block-info:hover {
    border-radius: 50px;
    border-color: var(--black);
    transition: all 1s;
  }
  .theme-light .block-project .block-image {
    background-size: 260%;
    transition: all 0.25s linear;
  }
  .theme-light .block-project:hover .block-image {
    background-size: 280%;
    transition: all 0.25s linear;
  }
  .theme-orange .block-project .block-image {
    background-size: 260%;
    transition: all 0.25s linear;
  }
  .theme-orange .block-project:hover .block-image {
    background-size: 280%;
    transition: all 0.25s linear;
  }
}
@media (min-width: 1020px) {
  .block-visual {
    left: auto;
    min-height: 500px;
    min-width: 500px;
  }
  .cursor {
    display: block;
  }
  .block-text-div {
    height: 20px;
    width: 64px;
  }
  .block-intro {
    padding-top: 192px;
    padding-top: 160px;
  }
  .block-info {
    padding: 32px 64px;
    margin-bottom: 64px;
  }
  .block-grid .block-info:nth-child(odd) {
    margin-left: -64px;
    margin-right: auto;
  }
  .block-grid .block-info:nth-child(even) {
    margin-left: auto;
    margin-right: -64px;
  }
  .block-project {
    margin-left: -64px;
    margin-right: -64px;
    padding: 160px 61px 64px 61px;
  }
  .theme-blue .block-visual {
    top: -25vmax;
    right: calc(50% - 25vmax);
    height: 50vmax;
    width: 50vmax;
  }
  .theme-light .block-visual {
    top: 64px;
    right: 0px;
    height: 512px;
    width: 390px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 1s, top 1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
  }
  .theme-light .block-visual-alt {
    display: block;
    position: absolute;
    z-index: -1;
    top: 64px;
    left: -320px;
    height: 512px;
    width: 512px;
  }
  .theme-orange .block-visual {
    top: 220px;
    right: 0px;
    height: 256px;
    width: 170.6666666667px;
    border-right-style: none;
  }
  .theme-orange .block-visual-alt {
    display: block;
    position: absolute;
    z-index: -1;
    top: 64px;
    left: -63.3333333333px;
    height: 190px;
    width: 190px;
  }
}
@-webkit-keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}
@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}
@-webkit-keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}
@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}
@-webkit-keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}/*# sourceMappingURL=Blocks.css.map */