@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$white: #fff;//ddd
$grey: #eee;//ccc
$black: black;
$darker-blue: #151e2a;//191C21 //081222 //121B29 //151e2a
$dark-blue: #1A2733;//222931
$green: #00ACA2;//44cab2


html{
  background-color: $darker-blue;
}
  
.App{
  //utils
  //div
  .title-div{
    background-color: $green;   
    border-radius: 0.75vmin;//7.5px 
  }
  .info-div{
    width: max-content;
    border-radius: 25px;
    background-color: $dark-blue;
  }
  //text
  .title{
    z-index: 1;
    color: $white;   
    font-family: "Poppins", sans-serif;
    font-weight: bold;

    &::selection{
      background-color: $green;
    }
  }
  .body-text{
    color: $grey;
    font-family: "Roboto", sans-serif;
    line-height: 175%;
    font-weight: 400;
    letter-spacing: 0.025em;

    &::selection{
      background-color: $green;
    }
  }
  .text-1{
    color: $green;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin: 0;

    &::selection{
      background-color: $green;
    }
  }
  .text-2{
    color: $grey;
    font-family: "Roboto";
    font-weight: 500;
    margin: 0;

    &::selection{
      background-color: $green;
    }
  }
  .text-3{
    color: $white;
    font-family: "Roboto";
    font-weight: 700;
    margin: 0;

    &::selection{
      background-color: $green;
    }
  }
  .text-4{
    color: $grey;
    font-family: "Poppins";
    font-weight: 500;
    margin: 0;

    &::selection{
      background-color: $green;
    }
  }
  //icon
  .water-mark{
    position: absolute;
    z-index: -1;
    fill: #1A2733c9;
  }

  .page{
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  .body-div{
    overflow: hidden;
  }
  .body-div-deactivated{
    display: none;
  }

  //nav
  nav{
    z-index: 2;
    position: fixed;

    button{
      cursor: pointer;
      display: inline-flex;
      border: none;
      border-radius: 10px;
      text-decoration: none;
      background-color: $darker-blue;
      border: 3px solid $dark-blue;
      
      .Icon{
        fill: $green;
      }
    }
  }
  .side-menu-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #151e2a99;

    &-deactivated{
      display: none;
    }
    .side-menu{
      position: relative; 
      background-color: $dark-blue;
  
      .index-div{
        display: flex;
        text-decoration: none;
        cursor: pointer;
        background-color: $dark-blue;
        border-style: none;
        
        &:hover{
          .body-text{
            color: $white;
            font-weight: 500;
          }
          .Icon{
            display: block;
          }
        }
        .body-text{
          text-decoration: none;
          color: $grey;
        }
        .Icon{
          display: none;
          fill: $white;
  
          &:hover{
            display: block;
          }
        }
      }
    }
  }

  //pg1
  .intro{
    position: inherit;

    .photo{
      position: absolute;
      z-index: -1;
  
      background-color: $dark-blue;
      border-radius: 15vmin;//10em//170px
    }
    .header-div{
      h1{
        color: $white;
        font-family: "Roboto Slab";
        font-weight: 900;
        letter-spacing: 0.115em;

        &::selection{
          background-color: $green;
        }
      }
      h2{
        color: $grey;          
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        letter-spacing: 0.025em;

        &::selection{
          background-color: $green;
        }
      }
    }
    .socials-div{
      a{
        cursor: pointer;
        display: inline-flex;
        width: min-content;
        border: none;
        border-radius: 10px;
        text-decoration: none;
        background-color: $dark-blue;
        
  
        .Icon{
          fill: $green;
        }
        h3{
          display: none;
        }
        &:hover{
          h3{
            display: inline-block;
          }
        }
      }
    }
  }
  //pg2
  section{
    display: flex;
  }
  //pg3
  .course-div{
    display: flex;
  }
  //pg4
  .goal-div{
    display: flex;
  }
  //pg5
  .offer-div{
    display: grid;
  }
  //pg6
  .project-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 25px;
    background-color: $dark-blue;
  }
}

@media (min-width: 0px) {
  //utils
  //div
  .title-div{
    height: 15px;//1.6vw
    width: 48px;//5vw
  }
  .info-div{
    padding: 20px 40px;
    margin-bottom: 20px;
    margin-left: -40px;
  }
  //text
  .title{
    margin: 0 0 80px 0;
    font-size: 40px;
  }
  .body-text{
    margin: 0;
    font-size: 22px;
  }
  .text-1{
    font-size: 18px;
  }
  .text-2{
    font-size: 20px;
  }
  .text-3{
    font-size: 30px;
  }
  .text-4{
    font-size: 16px;
  }

  //icon
  .water-mark{
    width: 250px;
    height: 250px;

    &-left{
      top: 0;
      left: -25%;  
    }
    &-right{
      top: 0;
      right: -25%;
    } 
  }

  .App{
    margin: auto;
  }
  .page{
    width: 90%;
    max-width: 440px;
    padding-top: 20px;
    padding-bottom: calc(1/8 *720px);
  }

  //nav
  nav{
    bottom: 20px;
    left: 5%;

    button{
      .Icon{
        padding: 15px;
        width: 30px;
        height: 30px;
      }
      h3{
        padding: 15px 15px 15px 0;
      }
    }
  }
  .side-menu{
    width: 70vw;
    height: calc(100% - 60px - 5vw);
    padding: 60px 5% 5% 5%;
    top: 0;
    left: 0;

    .index-div{
      margin-bottom: 20px;
      .Icon{
        margin: auto 0 auto 10px;
        width: 20px;
        height: 20px;
      }
    }
  }
  
  //pg1
  .intro{
    height: calc(7/8 * 720px);
    max-width: 400px;  
    padding-bottom: 0;

    .photo{
      top: -50vw;
      left: 0;
      height: 100vw;
      width: 100%;
    }
    .header-div{
      padding-top: 200px;//calc(3/8 *100vh)//240px

      h1{
        font-size: 18vw;
        margin-bottom: -5px;//-1vh
        margin-top: 0;
      }
      h2{
        font-size: 23px;//2vw
        margin: -5px 0 5px 0;
      }
    }
    .socials-div{
      a{
        margin: 18px 20px 0 0;
        
        .Icon{
          width: 30px;
          height: 30px;
          margin: 20px;
        }
        h3{
          margin: auto 18px auto 0;//1.25vw
        }
      }
    }
  }
  //pg2
  section{
    flex-direction: column;
    .body-text{
      margin-bottom: 40px;
    }
  }
  //pg3
  .course-div{
    flex-direction: column;

    .course{
      &:first-child{
        margin-bottom: 50px;
      }
      .text-3{
        margin-bottom: 20px;
      }
      .text-2{
        margin-bottom: 10px;
      }
    }
  }
  //pg4
  .goal-div{
    flex-direction: column;
    .body-text{
      margin-bottom: 40px;
    }
  }
  //pg6
  .projects{
    .project-div{
      height: calc(2/5 * 100vmin);
      margin-left: -20px;
      margin-right: -20px;
      padding: 40px 20px;
    }
  }
}
@media (min-width: 380px) {
  .intro{
    .header-div{
      h1{
        font-size: 70px;
      }
    }
  }
}
@media (min-width: 725px) {
  .page{
    width: 80%;
    max-width: none;
    padding-bottom: calc(1/8 * 620px);
  }
  //icon
  .water-mark{
    width: 400px;
    height: 400px;

    &-left{
      top: 0;
      left: -30%;  
    }
    &-right{
      top: 0;
      right: -30%;
    } 
  }
  
  //nav
  nav{
    bottom: 64px;
    left: 10%;
  }
  .side-menu{
    width: calc(40% - 128px);
    height: calc(100% - 128px);
    padding: 64px;
    top: 0;
    left: 30%;

    h1{
      margin-bottom: 32px;
    }
    .index-div{
      margin-bottom: 20px;
      .Icon{
        margin: auto 0 auto 10px;
        width: 20px;
        height: 20px;
      }
    }
  }

  //pg1
  .intro{
    height: calc(7/8 * 620px);
    max-width: 400px;
    padding-bottom: 0;
    .photo{
      top: -50vw;
      left: 15vw;
      height: 70vw;
      width: 70vw;
    }
  }
  //pg2
  section{
    flex-direction: row;
    .body-text{
      flex: 1;
      margin-right: 64px;
    }
    .side-div{
      flex: 1;
      .info-div{
        margin-left: auto;
        margin-right: 0;
      }
      margin: 0 -40px;
    }
  }
  //pg3
  .course-div{
    flex-direction: row;
    justify-content: space-between;
    .course{
      margin-bottom: 0;
      &:first-child{
        margin-bottom: 0;
      }
      &:last-child{
        margin-left: 64px;
      }
    }
  }
  //pg4
  .goal-div{
    flex-direction: row;
    justify-content: space-between;
    .body-text{
      &:last-child{
        margin-left: 10%;
      }
    }
  }
  //pg5
  .offer-div{
    grid-template-columns: 1fr 1fr;
    .info-div:nth-child(odd){
      margin-left: -40px;
      margin-right: auto;
    }
    .info-div:nth-child(even){
      margin-left: auto;
      margin-right: -40px;
    }
  }
  //pg6
  .projects{
    .project-div{
      margin-left: -40px;
      margin-right: -40px;
      padding: 40px;
      height: calc(1/4 * 100vmin);
    }
  }
}
@media (min-width: 1020px) {
  //utils
  //div
  .title-div{
    height: 20px;//1.6vw
    width: 64px;//5vw
  }
  .info-div{
    padding: 32px 64px;
    margin-bottom: 64px;
  }
  //text
  .title{
    margin-top: 0;
    margin-bottom: 128px;
    font-size: 60px;
  }
  .body-text{
    margin: 0;
    font-size: 28px;
  }
  .text-1{
    font-size: 25px;//2vw
  }
  .text-2{
    font-size: 28px;
  }
  .text-3{
    font-size: 40px;
  }
  .text-4{
    font-size: 20px;
  }

  .App{
    width: auto;
    margin: auto;
  }
  .page{
    height: calc(10/11 * 720px);//90vh//calc(10/11 * 100vh) 
    width: 70%;
    padding-bottom: 0;
  }

  //nav
  nav{
    bottom: 64px;//128px
    left: 15%;

    button{
      .Icon{
        padding: 15px;
        fill: $green;
        width: 35px;
        height: 35px;
      }
      h3{
        padding: 15px 15px 15px 0;
      }
    }
  }

  //pg1
  .intro{
    width: 50vw;
    min-width: 500px;
    max-width: none;

    .photo{
      top: -25vmax;
      left: auto;
      
      min-height: 500px;
      min-width: 500px;
      height: 50vmax;//50vmin
      width: 50vmax;
    }
    .header-div{
      padding-top: 192px;//calc(3/11 *100vh)

      h1{
        font-size: 100px;//8vw
        margin: 0;
      }
      h2{
        font-size: 40px;//3.5vw
        margin: -5px 0 5px 0;//1vh
      }
    }
    .socials-div{
      a{
        margin: 12px 16px 0 0;//1.25vw
        
        .Icon{
          width: 35px;//3vw
          height: 35px;
          margin: 16px;//1vw
        }
        h3{
          margin: auto 16px auto 0;//1.25vw
        }
      }
    }
  }
  //pg2
  section{
    .side-div{
      margin-right: -64px;
      margin-left: 0;
    }
  }
  //pg3
  .course-div{
    gap: 20%;
    .course{
      .text-3{
        margin-bottom: 32px;
      }
      .text-2{
        margin-bottom: 16px;
      }
    }
  }
  //pg5
  .offer-div{
    .info-div:nth-child(odd){
      margin-left: -64px;
      margin-right: auto;
    }
    .info-div:nth-child(even){
      margin-left: auto;
      margin-right: -64px;
    }
  }
  //pg6
  .projects{
    height: auto;
    padding-bottom: calc(2/11 * 720px);
    .project-div{
      margin-left: -64px;
      margin-right: -64px;
      padding: 64px;
    }
  }
}