@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  background-color: #151e2a;
}

.App {
  overflow: hidden;
}

.App .title-div {
  background-color: #00ACA2;
  border-radius: 0.75vmin;
}

.App .info-div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 25px;
  background-color: #1A2733;
}

.App .title {
  z-index: 1;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.App .title::-moz-selection {
  background-color: #00ACA2;
}

.App .title::selection {
  background-color: #00ACA2;
}

.App .body-text {
  color: #eee;
  font-family: "Roboto", sans-serif;
  line-height: 175%;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.App .body-text::-moz-selection {
  background-color: #00ACA2;
}

.App .body-text::selection {
  background-color: #00ACA2;
}

.App .text-1 {
  color: #00ACA2;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0;
}

.App .text-1::-moz-selection {
  background-color: #00ACA2;
}

.App .text-1::selection {
  background-color: #00ACA2;
}

.App .text-2 {
  color: #eee;
  font-family: "Roboto";
  font-weight: 500;
  margin: 0;
}

.App .text-2::-moz-selection {
  background-color: #00ACA2;
}

.App .text-2::selection {
  background-color: #00ACA2;
}

.App .text-3 {
  color: #fff;
  font-family: "Roboto";
  font-weight: 700;
  margin: 0;
}

.App .text-3::-moz-selection {
  background-color: #00ACA2;
}

.App .text-3::selection {
  background-color: #00ACA2;
}

.App .text-4 {
  color: #eee;
  font-family: "Poppins";
  font-weight: 500;
  margin: 0;
}

.App .text-4::-moz-selection {
  background-color: #00ACA2;
}

.App .text-4::selection {
  background-color: #00ACA2;
}

.App .water-mark {
  position: absolute;
  z-index: -1;
  fill: #1A2733c9;
}

.App .page {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.App nav {
  z-index: 2;
  position: fixed;
}

.App nav button {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  background-color: #151e2a;
  border: 3px solid #1A2733;
}

.App nav button .Icon {
  fill: #00ACA2;
}

.App .side-menu-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #151e2a99;
}

.App .side-menu-div .side-menu {
  position: relative;
  background-color: #1A2733;
}

.App .side-menu-div .side-menu .index-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  background-color: #1A2733;
  border-style: none;
}

.App .side-menu-div .side-menu .index-div:hover .body-text {
  color: #fff;
  font-weight: 500;
}

.App .side-menu-div .side-menu .index-div:hover .Icon {
  display: block;
}

.App .side-menu-div .side-menu .index-div .body-text {
  text-decoration: none;
  color: #eee;
}

.App .side-menu-div .side-menu .index-div .Icon {
  display: none;
  fill: #fff;
}

.App .side-menu-div .side-menu .index-div .Icon:hover {
  display: block;
}

.App .side-menu-div-enter {
  background-color: transparent;
}

.App .side-menu-div-enter .side-menu {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.App .side-menu-div-enter-active {
  background-color: #151e2a99;
  -webkit-transition: background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: background-color 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.App .side-menu-div-enter-active .side-menu {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.App .side-menu-div-enter-done {
  background-color: #151e2a99;
}

.App .side-menu-div-enter-done .side-menu {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.App .side-menu-div-exit {
  background-color: #151e2a99;
}

.App .side-menu-div-exit .side-menu {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.App .side-menu-div-exit-active {
  opacity: 0;
  background-color: transparent;
  -webkit-transition: background-color, opacity .3s ease-out;
  transition: background-color, opacity .3s ease-out;
}

.App .side-menu-div-exit-active .side-menu {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}

.App .side-menu-div-exit-done {
  display: none;
  opacity: 0;
  background-color: transparent;
}

.App .side-menu-div-exit-done .side-menu {
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.App .intro {
  position: inherit;
}

.App .intro .photo {
  position: absolute;
  z-index: -1;
  background-color: #1A2733;
  border-radius: 15vmin;
}

.App .intro .header-div h1 {
  color: #fff;
  font-family: "Roboto Slab";
  font-weight: 900;
  letter-spacing: 0.115em;
}

.App .intro .header-div h1::-moz-selection {
  background-color: #00ACA2;
}

.App .intro .header-div h1::selection {
  background-color: #00ACA2;
}

.App .intro .header-div h2 {
  color: #eee;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.App .intro .header-div h2::-moz-selection {
  background-color: #00ACA2;
}

.App .intro .header-div h2::selection {
  background-color: #00ACA2;
}

.App .intro .socials-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.App .intro .socials-div a {
  position: relative;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  background-color: #1A2733;
}

.App .intro .socials-div a .Icon {
  fill: #00ACA2;
}

.App .intro .socials-div a h3 {
  overflow: hidden;
  white-space: nowrap;
}

.App section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .course-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .goal-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App .offer-div {
  display: -ms-grid;
  display: grid;
}

.App .project-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 25px;
  background-color: #1A2733;
}

@media (min-width: 0px) {
  .title-div {
    height: 15px;
    width: 48px;
  }
  .info-div {
    padding: 20px 40px;
    margin-bottom: 20px;
    margin-left: -40px;
  }
  .title {
    margin: 0 0 80px 0;
    font-size: 40px;
  }
  .body-text {
    margin: 0;
    font-size: 22px;
  }
  .text-1 {
    font-size: 18px;
  }
  .text-2 {
    font-size: 20px;
  }
  .text-3 {
    font-size: 30px;
  }
  .text-4 {
    font-size: 16px;
  }
  .water-mark {
    width: 250px;
    height: 250px;
  }
  .water-mark-left {
    top: 0;
    left: -25%;
  }
  .water-mark-right {
    top: 0;
    right: -25%;
  }
  .App {
    margin: auto;
  }
  .page {
    width: 90%;
    max-width: 440px;
    padding-top: 20px;
    padding-bottom: calc(1/8 *720px);
  }
  nav {
    bottom: 20px;
    left: 5%;
  }
  nav button .Icon {
    padding: 15px;
    width: 30px;
    height: 30px;
  }
  nav button h3 {
    padding: 15px 15px 15px 0;
  }
  .side-menu {
    width: 70vw;
    height: calc(100% - 60px - 5vw);
    padding: 60px 5% 5% 5%;
    top: 0;
    left: 0;
  }
  .side-menu .index-div {
    margin-bottom: 20px;
  }
  .side-menu .index-div .Icon {
    margin: auto 0 auto 10px;
    width: 20px;
    height: 20px;
  }
  .intro {
    height: calc(7/8 * 720px);
    max-width: 400px;
    padding-bottom: 0;
  }
  .intro .photo {
    top: -50vw;
    left: 0;
    height: 100vw;
    width: 100%;
  }
  .intro .header-div {
    padding-top: 200px;
  }
  .intro .header-div h1 {
    font-size: 18vw;
    margin-bottom: -5px;
    margin-top: 0;
  }
  .intro .header-div h2 {
    font-size: 23px;
    margin: -5px 0 5px 0;
  }
  .intro .socials-div a {
    margin: 18px 20px 0 0;
    height: 70px;
    width: 70px;
  }
  .intro .socials-div a .Icon {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 20px;
  }
  .intro .socials-div a h3 {
    display: none;
    margin: auto 18px auto 0;
  }
  .intro .socials-div .button-anim-enter {
    width: 70px;
  }
  .intro .socials-div .button-anim-enter h3 {
    display: none;
    width: 0;
    margin-left: 0;
    opacity: 0;
  }
  .intro .socials-div .button-anim-enter svg {
    position: absolute;
  }
  .intro .socials-div .button-anim-enter-active {
    width: calc(80px + 90px);
    -webkit-transition: width 1s;
    transition: width 1s;
  }
  .intro .socials-div .button-anim-enter-active h3 {
    display: inline-block;
    width: calc(100% - 70px);
    margin-left: 70px;
    opacity: 1;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .intro .socials-div .button-anim-enter-done {
    width: calc(80px + 90px);
  }
  .intro .socials-div .button-anim-enter-done h3 {
    display: inline-block;
    width: calc(100% - 70px);
    margin-left: 70px;
    opacity: 1;
  }
  .intro .socials-div .button-anim-enter-done svg {
    position: absolute;
  }
  .intro .socials-div .button-anim-exit {
    width: calc(80px + 90px);
  }
  .intro .socials-div .button-anim-exit h3 {
    display: inline-block;
    width: calc(100% - 60px);
    margin-left: 70px;
    opacity: 1;
  }
  .intro .socials-div .button-anim-exit svg {
    position: absolute;
  }
  .intro .socials-div .button-anim-exit-active {
    width: 70px;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
  .intro .socials-div .button-anim-exit-active h3 {
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }
  .intro .socials-div .button-anim-exit-done {
    width: 70px;
  }
  .intro .socials-div .button-anim-exit-done h3 {
    display: none;
  }
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section .body-text {
    margin-bottom: 40px;
  }
  .course-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .course-div .course:first-child {
    margin-bottom: 50px;
  }
  .course-div .course .text-3 {
    margin-bottom: 20px;
  }
  .course-div .course .text-2 {
    margin-bottom: 10px;
  }
  .goal-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .goal-div .body-text {
    margin-bottom: 40px;
  }
  .projects .project-div {
    height: calc(2/5 * 100vmin);
    margin-left: -20px;
    margin-right: -20px;
    padding: 40px 20px;
  }
}

@media (min-width: 380px) {
  .intro .header-div h1 {
    font-size: 70px;
  }
}

@media (min-width: 725px) {
  .page {
    width: 80%;
    max-width: none;
    padding-bottom: calc(1/8 * 620px);
  }
  .water-mark {
    width: 400px;
    height: 400px;
  }
  .water-mark-left {
    top: 0;
    left: -30%;
  }
  .water-mark-right {
    top: 0;
    right: -30%;
  }
  nav {
    bottom: 64px;
    left: 10%;
  }
  .side-menu {
    width: calc(40% - 128px);
    height: calc(100% - 128px);
    padding: 64px;
    top: 0;
    left: 30%;
  }
  .side-menu h1 {
    margin-bottom: 32px;
  }
  .side-menu .index-div {
    margin-bottom: 20px;
  }
  .side-menu .index-div .Icon {
    margin: auto 0 auto 10px;
    width: 20px;
    height: 20px;
  }
  .intro {
    height: calc(7/8 * 620px);
    max-width: 400px;
    padding-bottom: 0;
  }
  .intro .photo {
    top: -50vw;
    left: 15vw;
    height: 70vw;
    width: 70vw;
  }
  section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section .body-text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 64px;
  }
  section .side-div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 -40px;
  }
  section .side-div .info-div {
    margin-left: auto;
    margin-right: 0;
  }
  .course-div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .course-div .course {
    margin-bottom: 0;
  }
  .course-div .course:first-child {
    margin-bottom: 0;
  }
  .course-div .course:last-child {
    margin-left: 64px;
  }
  .goal-div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .goal-div .body-text:last-child {
    margin-left: 10%;
  }
  .offer-div {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .offer-div .info-div:nth-child(odd) {
    margin-left: -40px;
    margin-right: auto;
  }
  .offer-div .info-div:nth-child(even) {
    margin-left: auto;
    margin-right: -40px;
  }
  .projects .project-div {
    margin-left: -40px;
    margin-right: -40px;
    padding: 40px;
    height: calc(1/4 * 100vmin);
  }
}

@media (min-width: 1020px) {
  .title-div {
    height: 20px;
    width: 64px;
  }
  .info-div {
    padding: 32px 64px;
    margin-bottom: 64px;
  }
  .title {
    margin-top: 0;
    margin-bottom: 128px;
    font-size: 60px;
  }
  .body-text {
    margin: 0;
    font-size: 28px;
  }
  .text-1 {
    font-size: 25px;
  }
  .text-2 {
    font-size: 28px;
  }
  .text-3 {
    font-size: 40px;
  }
  .text-4 {
    font-size: 20px;
  }
  .App {
    width: auto;
    margin: auto;
  }
  .page {
    height: calc(10/11 * 720px);
    width: 70%;
    padding-bottom: 0;
  }
  nav {
    bottom: 64px;
    left: 15%;
  }
  nav button .Icon {
    padding: 15px;
    fill: #00ACA2;
    width: 35px;
    height: 35px;
  }
  nav button h3 {
    padding: 15px 15px 15px 0;
  }
  .intro {
    width: 50vw;
    min-width: 500px;
    max-width: none;
  }
  .intro .photo {
    top: -25vmax;
    left: auto;
    min-height: 500px;
    min-width: 500px;
    height: 50vmax;
    width: 50vmax;
  }
  .intro .header-div {
    padding-top: 192px;
  }
  .intro .header-div h1 {
    font-size: 100px;
    margin: 0;
  }
  .intro .header-div h2 {
    font-size: 40px;
    margin: -5px 0 5px 0;
  }
  .intro .socials-div a {
    margin: 12px 16px 0 0;
  }
  .intro .socials-div a .Icon {
    width: 35px;
    height: 35px;
    margin: 16px;
  }
  .intro .socials-div a h3 {
    margin: auto 16px auto 0;
  }
  .intro .socials-div .button-anim-enter-active {
    width: calc(80px + 120px);
    -webkit-transition: width 1s;
    transition: width 1s;
  }
  .intro .socials-div .button-anim-enter-done {
    width: calc(80px + 120px);
  }
  .intro .socials-div .button-anim-exit {
    width: calc(80px + 120px);
  }
  .intro .socials-div .button-anim-exit-active {
    width: 70px;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
  section .side-div {
    margin-right: -64px;
    margin-left: 0;
  }
  .course-div {
    gap: 20%;
  }
  .course-div .course .text-3 {
    margin-bottom: 32px;
  }
  .course-div .course .text-2 {
    margin-bottom: 16px;
  }
  .offer-div .info-div:nth-child(odd) {
    margin-left: -64px;
    margin-right: auto;
  }
  .offer-div .info-div:nth-child(even) {
    margin-left: auto;
    margin-right: -64px;
  }
  .projects {
    height: auto;
    padding-bottom: calc(2/11 * 720px);
  }
  .projects .project-div {
    margin-left: -64px;
    margin-right: -64px;
    padding: 64px;
  }
}
/*# sourceMappingURL=App.css.map */