@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$white: #ddd;
$grey: #ccc;
$black: black;
$darker-blue: #151e2a;//191C21 //081222 //121B29 //151e2a
$dark-blue: #1A2733;//222931
$green: #00ACA2;//44cab2


html{
  background-color: $darker-blue;
}
  
.App{
  position: relative;

  //pg1
  .photo{
    position: absolute;
    top: calc(50% - 6.5vh);
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: $dark-blue;
    border-radius: 100em;
  }
  .text{
    z-index: 1;
    position: absolute;
    top: 55%;
    text-align: center;

    h1{
      color: $white;
      font-family: "Roboto Slab";
      font-weight: 700;
      letter-spacing: 0.115em;
    }
    h2{
      color: $grey;          
      font-family: "Poppins", sans-serif;
      font-weight: 200;
      letter-spacing: 0.025em;
    }
  }
  //pg2
  .about-container{
    .profile{
      z-index: 1;
      background-color: $dark-blue;
      border: 4px $darker-blue solid;
      border-radius: 30px;
  
      &--text{
        align-self: center;
        h2{
          color: $white;        
          font-family: "Poppins", sans-serif;
          font-weight: bold;
          letter-spacing: 0.025em;
        }
        h3{
          color: $grey;
          font-family: "Poppins", sans-serif;
          font-weight: 300;
          letter-spacing: 0.025em;
        }
      }
      button{
        background-color: $darker-blue;
        border: 7.5px $darker-blue solid;
        border-radius: 10px;
        align-self: center;
        cursor: pointer;
      }
    }
    .about{
      padding: 5vw;
      background-color: $dark-blue;

      section{
        h1{
          z-index: 1;
          color: $white;   
          font-family: "Poppins", sans-serif;
          font-weight: bold;
        }
        h2{
          color: $grey;
          font-family: "Poppins", sans-serif;
          line-height: 175%;
          font-weight: 300;
          margin: 2vw 0;
        }
      }
      aside{
        div{
          &:first-child{
            h2{
              margin-bottom: 2.5vw;
            }
          }
          h3{
            color: $green;
            font-family: "Poppins";
            font-weight: 400;
            margin-bottom: 0;
          }
          h2{
            color: $grey;
            font-family: "Roboto";
            font-weight: 400;
            margin-top: 0;
          }
        }
      }
    }
  }
  //pg3
  .offer{
    background-color: $dark-blue;

    h1{
      z-index: 1;
      color: $white;   
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      margin-bottom: 0.5vw;
    }
    a{
      text-decoration: none;
    }
    button{
      display: inline;
      border: 4px $darker-blue solid;
      border-radius: 30px;
      background-color: $dark-blue;

      h3{
        color: $green;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
      }
      h2{
        color: $grey;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        margin-top: 0.5vw;
      }
    }
  }
  //pg4
  .projects{
    .title{
      position: fixed;
      z-index: 1;

      h1{
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        color: $white;
        margin: 0;
      }
    }
    section{
      div{
        position: relative;
        z-index: 0;
        border-radius: 30px;
        background-color: $dark-blue;

        h2{
          position: absolute;
          bottom: 0;
          margin: 0;
          color: $grey;  
          font-family: "Poppins", sans-serif;
          font-weight: bold;
        }
      }
    }
  }

  .sites{
    z-index: 2;
    position: absolute;
    background-color: $dark-blue;

    .banner{
      width: 100%;
    }
    .title{
      position: absolute;
      top: 0;
      
      h3{
        color: $green;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
      }
      h2{
        color: $white;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
      }
    }
    section{      
      overflow: none;
      p{
        color: $grey;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        line-height: 175%;
      }
    }
  }

  //navbar
  nav{
    z-index: 2;
    position: fixed;
    display: flex;
    bottom: 5vw;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 20px;
    border: 4px $dark-blue solid;
    background-color: $darker-blue;
    justify-content: center;

    button{
      background-color: $dark-blue;
      border: 7.5px $dark-blue solid;
      border-radius: 10px;
      align-self: center;
      cursor: pointer;
    }
  }
}

@media (max-width: 680px) {
  //pg1
  .photo{
    height: 100vw;
    width: 100vw;
  }
  .text{
    transform: translate(0, -50%);
    margin: 0 5vw;
    width: 90vw;
    
    h1{
      font-size: 19.5vw;
      margin: 0 0 -1vh 0;
    }
    h2{
      font-size: 6vw;
      margin: -1vh 0 0 0;
    }
  }
  //pg2
  .about-container{
    background-color: $dark-blue;
    padding-top: 5vh;

    .profile{
      position: relative;
      padding: 5vw 10vw;
      margin: 0 2.5vh 0 2.5vh;
  
      &--text{
        h2{
          font-size: 6vw;
          margin: 0 0 -1vh 0;
        }
        h3{
          font-size: 4vw;
          margin: -1vh 0 1vh 0;
        }
      }
      button{
        display: none;
        height: 10vw;
        width: 10vw;
        margin: 2.5vh 5vh 2.5vh 0;
      }
    }
    .about{
      section{
        h1{
          background-color: $dark-blue;
          position: sticky;
          top: 0;
          width: 100%;
          font-size: 11.5vw;
          padding: 5vw 0;
          margin: -2.5vh 0 5vw 0;
        }
        h2{
          font-size: 6vw;
          margin: 0;
        }
      }
      aside{
        margin-top: 10vh;
        padding-bottom: 40vh;
        
        h3{
          font-size: 4vw;
          margin-top: 4vh;
        }
        h2{
          font-size: 6vw;
        }
      }
    }
  }
  //pg3
  .offer{
    background-color: $dark-blue;
    height: 100vh;
    
    h1{
      background-color: $dark-blue;
      position: sticky;
      top: 0;
      font-size: 11.5vw;
      padding: 5vw;
      margin: 0;
    }
    button{
      padding: 5vw;
      margin: 2.5vw 5vw;
      text-align: left;

      h3{
        font-size: 4vw;
        margin: 0 0 0vw 0;
      }
      h2{
        font-size: 6vw;
        margin-bottom: 0;
      }
    }
  }
  //pg4
  .projects{
    .title{
      top: 0;
      width: 100%;
      background-color: $darker-blue;
      &::before{
        content: "";
        position: absolute;
        background-color: transparent;
        bottom: -50px;
        height: 50px;
        width: 25px;
        border-top-left-radius: 30px;
        box-shadow: 0 -25px 0 0 $darker-blue;
      }
      &::after{
        content: "";
        position: absolute;
        background-color: transparent;
        bottom: -50px;
        right: 0;
        height: 50px;
        width: 25px;
        border-top-right-radius: 30px;
        box-shadow: 0 -25px 0 0 $darker-blue;
      }
      h1{
        font-size: 11.5vw;
        padding: 5vw;
      }
    }

    section{
      margin-top: 15vh;
      
      div{
        height: 30vh;
        margin-bottom: 5vh;
        border-bottom: 0.25em $dark-blue solid;
        border-top: 0.25em $dark-blue solid;

        h2{
          position: absolute;
          font-size: 6vw;
          padding: 5vw 7.5vw;
          bottom: 0;
        } 
      }
    }
  }

  .sites{
    top: 0;
    //width: 100%;
    height: 100vh;

    .banner{
      height: 16%;
    }
    .title{
      padding: 10vmin 5vmin;
      h3{
        font-size: 4vw;
        margin: 0;
        
      }
      h2{
        margin-top: 0.5vw;
        font-size: 9vw;
        margin: 0
      }
    }
    section{      
      p{
        font-size: 6vw;
        padding: 5vmin;
        margin: 0;
      }
    }
  }

  //navbar
  nav{
    width: 90vw;
    padding: 5vw 0;

    a{
      margin: 0 4.5vw;

      button{
        height: 10vw;
        width: 10vw;
      }
    }
  }
}

@media (min-width: 680px) {
  //pg1
  .photo{
    height: 50vmin;
    width: 50vmin;
  }
  .text{
    left: 50%;
    transform: translate(-50%, -50%);

    h1{
      font-size: 7vw;
      margin-bottom: -1vh;
    }
    h2{
      font-size: 2vw;
      margin-top: -1vh;
    }
  }
  //pg2
  .about-container{
    .profile{
      position: absolute;
      display: flex;
      top: 7.5%;
      left: 50%;
      transform: translate(-50%, 0);
      padding: 2vw 2.5vw;

      &--text{
        padding: 0 3.75vw 0 0;
        width: max-content;

        h2{
          margin: 0 0 -0.5vh 0;
          font-size: 2vw;
        }
        h3{
          margin: -0.5vh 0 0 0;
          font-size: 1.5vw;
        }
      }
      button{
        height: 3vw;
        width: 3vw;
        margin: 0 0 0 1.25vw;
      }
    }
    .about{
      position: absolute;
      display: flex;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70vw;
      height: 50vh;
      border-radius: 30px;

      section{
        flex: 2;
        margin: auto 2.5vw auto 0vw;
        h1{
          font-size: 4.5vw;
          margin: 0;
        }
        h2{
          font-size: 2vw;
        }
      }
      aside{
        flex: 1;
        margin: auto 0vw auto 2.5vw;
        
        h3{
          font-size: 1.5vw;
        }
        h2{
          font-size: 2vw;
          margin-bottom: 0;
        }
      }
    }
  }
  //pg3
  .offer{
    position: absolute;
    width: 100vw;
    height: 100vh;
    
    .offer-section{
      position: absolute;
      width: 60vw;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      h1{
        position: relative;
        font-size: 4.5vw;
        margin: 0 0 0 5vw;
      }
      button{
        padding: 1.5vw;
        margin: 1.5vw 0 1.5vw 3.5vw;
        text-align: left;

        h3{
          font-size: 1.5vw;
          margin: 0;
        }
        h2{
          font-size: 2vw;
          margin-bottom: 0;
        }
      }
    }
  }
  //pg4
  .projects{
    .title{
      top: 7.5%;
      left: 50%;
      transform: translate(-50%, 0);
      padding: 2.5vh 5vh;
      padding: calc(2vw - 1vw) 2.5vw;
      background-color: $dark-blue;
      border: 0.5em $darker-blue solid;
      border-radius: 30px;

      h1{
        font-size: 4.5vw;
      }
    }
    section{
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 80%;
      padding-bottom: 40vh;

      div{
        height: 30vw;
        border-radius: 10px;
        margin-bottom: 10vh;

        h2{
          position: absolute;
          font-size: 2.5vw;
          padding: 3vh 5vh;
          bottom: 0;
        }
      }
    }
  }

  .sites{
    top: calc(50vh - 30vmin);
    left: calc(50vw - 35vmin);
    width: 70vmin;
    height: 60vmin;
    border: 4px $darker-blue solid;
    border-radius: 30px;

    .banner{
      height: 33%;
    }
    .title{
      padding: 5vmin;

      h3{
        font-size: 1.5vw;
        margin: 0;
        
      }
      h2{
        margin-top: 0.5vw;
        font-size: 3.5vw;
        margin: 0
      }
    }
    section{      
      p{
        font-size: 2vw;
        padding: 5vmin;
        margin: 0;
      }
    }
  }

  //navbar
  nav{
    width: 20vw;
    padding: 1.5vw 2vw;
    
    a{
      margin: 0 1vw;

      button{
        height: 3vw;
        width: 3vw;
      }
    }
  }
}